@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap");

@layer html {
  :root {
    --toastify-color-light: #b8b4c0;
    --toastify-text-color-light: #ddd6fe;
  }

  input,
  select,
  textarea {
    background-color: transparent;
    display: block;
  }

  .text-balance {
    text-wrap: balance;
  }

  .select-img {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    /* background-image: url(""); */
    background-position: center right 1px;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  .radio:has(input:checked) {
    color: #a78bfa;
    font-weight: bold;
  }

  select:disabled {
    background-image: none;
  }

  .outlet-border {
    border-color: #020617;
    border-width: 4px;
    border-radius: 0.75rem;
  }

  #nav a.active {
    background-color: #4c1d95;
    border-radius: 0.375rem;
  }

  #register a.active {
    color: #8b5cf6 !important;
  }

  #resister #root .toast {
    color: #2e1065 !important;
  }
  #root .toast-body {
    color: #2e1065 !important;
  }
  #root .toast-rounded {
    border-radius: 6px !important;
    background-color: #e4e0fa !important;
  }

  .scrollWidth:-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollWidth {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* #root .toast-progress {
    background: #6d28d9 !important;
  } */

  @media (prefers-color-scheme: dark) {
    #nav a.active {
      background-color: #6d28d9;
      border-radius: 0.375rem;
    }
    #register a.active {
      color: #4c1d95;
    }
    option {
      background-color: #cbd5e1;
      color: #0f172a;
    }
    #root .toast {
      color: #e4e0fa !important;
    }
    #root .toast-body {
      color: #e4e0fa !important;
    }
    #root .toast-rounded {
      border-radius: 6px !important;
      background-color: #2e1065 !important;
    }
  }

  /* Add this CSS to your stylesheet */
  

  .students-container {
    display: flex;
    flex-direction: column; /*Stack year containers vertically */
    gap: 20px;
  }

  .year-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; /* Add margin to create space between year sections */
  }

  .year-container h2 {
    margin-top: 0;
  }

  .student-table {
    width: 100%;
    border-collapse: collapse;
  }

  .student-table th,
  .student-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }

  .delete-button {
    background-color: #f83d1d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #cc4c39;
  }

  .wallet{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 40%;
    width: 80%;
    margin-left: 10%;
    border-radius: 12px;

    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    color: white;
    font-family: Courier New, monospace;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    font-size: 25px;
    font-weight: bold;
  }

  .wallet h2{
 
    position: absolute;
    top:30%;
    left:10%;

  }

  .wallet-balance{
    position:absolute;
    top:50%;
    left:15%;
  }

  .walletimg{
   position:absolute;
   right:10%;
   width:15%;
   top:15%; 

  }

  .walletNavigation{
    position: relative;
    background-color: white;
    width:12%;
    height: 8%;
    font-size: 20px;
    border: 1px solid transparent;
    left:30%;
    margin-top:2%;
    margin-bottom: 3%;
    border-radius: 7px;
    color:black;
    font-weight:bold;
  }

  .credit-balance{
    position:absolute
  }


  
  .addMoneydiv{
    background:#1b1b1b;
    width:800px;
    font-family: Courier New, monospace;
    color: white;
  }
  .addMoneydiv input{
    color:white;
    font-weight: bold;
    
  }


  table.table-transactions {
    margin:20px;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #A5A5A5;
    border-style: solid;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    color:white;
    border-radius: 10px;
  }
  
  table.table-transactions td, table.table-transactions th {
    border-width: 7px;
    border-color: #A5A5A5;
    border-style: solid;
    padding: 5px;
  }
  
  table.table-transactions thead {
    background-color: #F854B1;
  }
  




  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
}